# 1. Record Architecture solutions

date: %START_DATE%

## Status

Accepted

## Context

We need to record the architectural decisions made on this project.

## Decision

We will use Architecture Decision Records, as described in this article: [ADR Format](https://cognitect.com/blog/2011/11/15/documenting-architecture-decisions).

## Consequences

For each a system requirement, we prepare an ADR that explains why we chose these solution or these technologies.
