p_b2c_customer = person "B2C Customer" {
    description "Person\User\Customer"
}

p_b2b_customer = person "B2B Customer" {
    description "Business service"
}

p_b2b_staff = person "B2B Staff" {
    description "Administrator"
}

p_our_staff = person "Our Staff" {
    description "Administrator"
}

p_other = person "Other" {
    description "Other consumers"
}